.list-container {
  background-color: #ffffff;
  min-height: 100vh;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: #252627;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;
}

.search-container {
  max-width: 300px;
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.search-box {
  background-color: #f1f5f9;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-icon {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.destination-container {
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  margin: 0px;
}
