.image {
  height: 120px;
  width: 150px;
}

.title {
  color: #252627;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  max-width: 150px;
}

.card-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
